<div>
    <h2 class="text-muted">Feeds </h2>
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline col-xl-12 my-lg-0">
                <input class="form-control col-xl-12" type="text" placeholder="Search Feed">
            </form>
        </div>
    </div>
    <hr>

    <div *ngIf="view==='grid'">
        <app-grid [feeds]="feeds"></app-grid>
    </div>
    <div *ngIf="view==='list'">
        <!--<app-tables [feeds]="feeds"></app-tables>-->
    </div>

</div>
